<% include partials/header %>
    <main class="detail">

        <img src="<%= residence.HoofdFoto %>" />
        <h2><%= residence.Adres %></h2>
        <ul>
            <li>Aantal kamers: <%= residence.AantalKamers %></li>
            <li>Prijs: &euro; <%= residence.Koopprijs %></li>
        </ul>
        <p><%= residence.VolledigeOmschrijving %></p>
    </main>
<% include partials/footer.ejs %>
