<% include partials/header %>
	<header>
	    <h1>Zoek een huis</h1>
        <form action="/result" method="post">
          <input type="search" name="input" id="searchBar" name="query" placeholder="Zoek naar een huis">
      </form>
    </header>
    <main id="overview">
        <section class="loader-wrapper">
            <div class="loader"></div>
        </section>

	    <% for(var i = 0; i < residences.Objects.length; i++) {%>
    	    <a href="/residences/<%= residences.Objects[i].Id%>">
                <div class="image-wrapper">
                    <img src="<%= residences.Objects[i].FotoLarge %>" />
                </div>
                <h2><%= residences.Objects[i].Adres %></h2>
                <ul>
                    <li>Aantal kamers: <%= residences.Objects[i].AantalKamers %></li>
                    <li>Prijs: <%- residences.Objects[i].PrijsGeformatteerdHtml %></li>
                    <li>Woonplaats: <%= residences.Objects[i].Woonplaats %></li>
                </ul>
    	    </a>
	    <% } %>

	</main>

<% include partials/footer.ejs %>
